@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.createpage-form-required-check {
  color: #ff8473;
}
.createpage-sub-nav {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  z-index: 1000; /* 헤더 위에 표시되도록 z-index 설정 */
}
.createpage-button-group {
  margin-left: 17.75%;
}
.createpage-button-group button {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.93rem;
  cursor: pointer;
  padding-top: 8px;
  transition: 0.3s ease;
  margin-right: 5px;
}
.createpage-button-group button:hover {
  color: #fadf0b;
}

.createpage-create-main-section {
  font-family: "Pretendard-Regular";
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 20px 12% 120px 14%;
  box-sizing: border-box;
  border: 2px black solid;
  border-top: none;
}
.createpage-create-main-section input {
  outline: none;
}
.createpage-create-main-section label {
  font-weight: 1000;
  font-size: 24px;
  display: inline-block;
  padding-bottom: 1px;
  margin-left: 5px;
}
.createpage-hashtag-label {
  margin-bottom: 0px !important;
}
.createpage-hashtag-label span {
  font-weight: 500;
}
.createpage-create-project-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.createpage-title-input {
  border: none;
  padding: 10px 2px;
  border-bottom: 1px solid black;
  font-size: 18px;
  margin-top: 50px;
}

.createpage-create-project-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.createpage-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.createpage-hashtag-limit {
  color: #d8d8d8;
  font-size: 18px;
}
.createpage-form-group label {
  font-weight: 1000;
  font-size: 24px;
}

.createpage-form-group .ql-container {
  padding: 10px;
  border: 1px solid #000;
}

.createpage-hashtag-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  border: 1px dotted #000;
  border-radius: 15px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.createpage-hashtag-input-wrapper input {
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  min-height: 63px;
  font-size: 16px;
  width: 100%;
}

.createpage-add-button {
  padding: 12px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  align-items: center;
  box-sizing: border-box;
  margin: 0 14px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.mobile-createpage-add-button {
  /*모바일 전용 만들기 버튼*/
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid black;
  padding: 4px 6px 3px 6px;
  background-color: black;

  display: none;
}
.mobile-createpage-add-button img {
  width: 11px;
  margin-top: 2px;
  filter: invert();
}
.createpage-hashtag-input-wrapper .createpage-char-count {
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 600;
}

.createpage-hashtags-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px dotted #000;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 63px;
}

.createpage-hashtag {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px 10px 5px 0px;
  font-size: 14px;
  font-weight: 500;
}
.input-wrapper span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.createpage-hashtag button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 1px 4px 1px 8px;
  font-weight: 600;
  white-space: nowrap;
}

.createpage-period-group {
  border: 1px dotted #000;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.createpage-period-input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%; /* 부모 컨테이너가 가로 공간을 모두 차지하도록 설정 */
}

.createpage-date-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createpage-date-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  text-align: center;
  transition: width 0.3s ease;
  box-sizing: border-box; /* 패딩과 테두리를 요소의 전체 크기에 포함 */
}

/* 프로젝트 설정 영역 CSS */

.createpage-recruitment-group {
  border: 1px dotted #000;
  padding: 20px 30px 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.createpage-recruitment-group span {
  white-space: nowrap;
}
.createpage-recruitment-input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.createpage-number-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createpage-number-input input {
  width: 85%;
  padding: 10px;
  border: none;
  border-radius: 0;
  justify-content: center;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.whitespace-nowrap {
  white-space: nowrap;
  margin: 0 10px;
}
.createpage-project-setting-group {
  display: flex;
  white-space: nowrap;
  align-items: center;
  flex: 1;
}
/* 옵션 추가 섹션 스타일 추가 */
.createpage-option-form-group {
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 30px 20px;
  border-radius: 15px;
  /* padding-top: 20px; */
}
.createpage-option-form-group input {
  border: none;
}

.createpage-form-group.createpage-option-form-group {
  margin-bottom: 20px;
}

.createpage-option-input-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 10px;
}
#option-add {
  margin-right: 20px;
}
.createpage-option-input-wrapper .input-wrapper {
  display: flex;
  flex: 1;
  gap: 5px;
}

.createpage-option-input-wrapper input {
  padding: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}
.button-span-group {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.button-span-group button {
  margin-right: 20px;
  margin-bottom: 3px;
}
.createpage-options-display {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 35px;
}

.createpage-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 85%;
  margin-left: 10px;
  /* padding-right: 80px; */
  box-sizing: border-box;
}

.createpage-option button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 0 5px;
  font-weight: 600;
  white-space: nowrap;
}

.createpage-submit-button {
  background-color: #fadf0b;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto; /* 중앙 정렬을 위한 속성 추가 */
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.6vw;
  width: 17vw;
  aspect-ratio: 33 / 10;
  margin-top: 2vh;
  padding: 0;
}

.createpage-submit-button span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createpage-flex-row {
  display: flex;
  align-items: center;
  flex: 1;
}
.createpage-flex-row span {
  white-space: nowrap;
}
.ql-editor {
  height: 700px;
}
.ql-toolbar.ql-snow {
  border: 1px solid black;
}

.createpage-account-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px dotted #000;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.createpage-account-input-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #8b8b8b;
  cursor: not-allowed; /* 읽기 전용일 때 커서를 not-allowed로 변경 */
}

.createpage-account-input-wrapper input.editable {
  color: #000;
  cursor: text; /* 수정 가능할 때 커서를 text로 변경 */
}

.createpage-edit-button {
  padding: 12px 15px 12px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  white-space: nowrap;
  font-size: 15px;
}
.ck.ck-editor__editable_inline {
  height: 600px;
}

@media (min-width: 768px) and (max-width: 925px) {
  .createpage-button-group {
    margin-left: 6.5%;
  }
  .createpage-submit-button {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 90px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .createpage-create-main-section {
    width: 100%;
    padding: 20px 8% 120px 8%;
    box-sizing: border-box;
    border: 2px black solid;
    border-top: none;
  }
  .createpage-button-group {
    margin-left: 5%;
  }
  .createpage-create-project-form {
    gap: 15px;
  }
  .createpage-button-group button {
    background: none;
    border: none;
    color: #fff;
    font-size: 0.93rem;
    cursor: pointer;
    padding-top: 8px;
    transition: 0.3s ease;
    margin-right: 5px;
  }

  .createpage-title-input {
    margin-top: 20px;
  }
  .createpage-submit-button {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 90px;
  }
}

@media (max-width: 479px) {
  /* 기존 요소 중 블락 처리한 것들 */
  .createpage-add-button {
    display: none;
  }
  #option-add {
    margin-right: 10px;
  }
  .mobile-createpage-add-button {
    margin-right: 10px;
    display: inline-block;
  }

  .createpage-create-project-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .createpage-create-main-section {
    padding: 0 5.5% 120px 5.5%;
    border-width: 1px 0 1px 0;
    border-top: 1px solid black;
  }
  .createpage-create-main-section label {
    font-size: 18px;
    display: inline-block;
    padding-bottom: 0px;
    margin-left: 3px;
  }
  .createpage-hashtag-limit {
    font-size: 13px;
  }

  .createpage-sub-nav {
    position: relative;
    height: 20px;
    /* display: none; */
  }
  .createpage-button-group {
    margin-left: 5%;
  }
  .createpage-button-group button {
    padding-top: 2px;
    font-size: 0.93rem;
  }
  .createpage-form-group {
    margin-bottom: 5px;
  }
  .createpage-title-input {
    padding: 10px 2px;
    border-bottom: 1px solid black;
    font-size: 1rem;
    margin-top: 30px;
  }
  .createpage-title-input::placeholder {
    font-size: 14px;
  }
  .createpage-hashtag-input-wrapper input {
    padding: 10px 15px;
    min-height: 50px;
    font-size: 14px;
  }
  .createpage-hashtags-display {
    gap: 5px;
    padding: 10px 12px;
    min-height: 50px;
  }
  .input-wrapper span,
  .createpage-recruitment-input-wrapper span,
  .createpage-period-input-wrapper span {
    padding-right: 2px;
    font-size: 14px;
  }
  .createpage-hashtag-input-wrapper .createpage-char-count {
    font-size: 16px;
    font-weight: 400;
    margin-right: 6px;
  }

  .createpage-option-form-group {
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
  }

  .createpage-recruitment-group,
  .createpage-form-group.createpage-period-group {
    padding: 10px 16px 10px 12px;
  }
  .createpage-recruitment-input-wrapper {
    gap: 5px;
  }
  /* ck editor 스타일 조절 */
  .ck.ck-editor__editable_inline {
    height: 300px;
  }
  .ck.ck-toolbar.ck-toolbar_grouping {
    height: 25px;
    opacity: 0.9;
  }

  /* 프로젝트 설정 버튼들 */
  .createpage-add-button {
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    margin: 0 5px 0 5px;
  }
  .createpage-hashtag button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 1px 4px 1px 8px;
  }
  .button-span-group {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }
  .button-span-group button {
    margin-right: 20px;
    margin-bottom: 3px;
  }

  .createpage-option button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    /* padding: 0 5px; */
    /* font-weight: 600; */
    /* white-space: nowrap; */
  }

  .createpage-edit-button {
    padding: 12px 15px 12px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 15px;
  }

  /*등록하기 버튼 스타일*/
  .createpage-submit-button {
    font-weight: 500;
    font-size: 1rem;
    padding: 20px 80px;
    border: 1px solid black;
  }
}
@media (max-width: 404px) {
  .createpage-period-input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .createpage-hashtag-limit {
    word-break: keep-all;
  }
  .createpage-submit-button {
    font-weight: 500;
    font-size: 1rem;
    padding: 20px 80px;
  }
}

@media (max-width: 295px) {
  /*editor 에러 방지 용으로 블락 처리*/
  .ck.ck-button.ck-button_with-text,
  a.ck.ck-button.ck-button_with-text {
    display: none;
  }
}
