.layout-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerpage-header {
  flex-shrink: 0;
}

.layout-content {
  flex: 1 1;
  background-color: #f0f0f0;
  display: flex;
}

.footerpage-footer {
  flex-shrink: 0;
  color: white;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
}
