.login-page-layout {
  width: 97%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 150px 0 175px 2.5%;
}

.login-page-layout-back-img {
  position: relative;
}

.login-page-layout-back-img img {
  position: absolute;
  left: -200px;
  top: -150px;
}

.login-page-layout-form {
  z-index: 10;
  display: flex;
  height: 100%;
}
.login-page-layout-wrapper {
  width: 400px;
  background-color: white;
  border: 2px solid black;
  z-index: 1;
  box-shadow: 7px 8px 0 0 rgb(0, 0, 0);
  position: relative;
  padding-bottom: 80px;
  flex: 1;
}

.login-page-layout-cloud-img {
  position: relative;
  z-index: 20;
}

.login-page-layout-cloud-img img {
  position: absolute;
  bottom: -59px;
  right: -67px;
}

/* 로그인창 신호등 부분 */

.login-page-layout-action-bar {
  border-bottom: 2px solid black;
}

.login-page-layout-three-color {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 3px;
}
.login-page-layout-color-circle {
  width: 9px;
  height: 9px;
  background-color: #000;
  margin-right: 1%;
  border-radius: 50%;
  border: 1px black solid;
}
.color-green {
  background-color: #34b2a7;
}
.color-yellow {
  background-color: #ffd43a;
}
.color-red {
  background-color: #ff8473;
}

/* 미디어쿼리_ media query */
@media (min-width: 480px) and (max-width: 767px) {
  .login-page-layout {
    width: 92%;
    padding: 150px 0 175px 8%;
  }

  .login-page-layout-wrapper {
    width: 350px;
  }
  .login-page-layout-back-img img {
    left: -180px;
    top: -140px;
    width: 330px;
    height: 330px;
    rotate: 5deg;
  }

  .login-page-layout-cloud-img img {
    width: 140px;
    height: 130px;
    right: -45px;
    bottom: -75px;
  }
}

@media (max-width: 479px) {
  .login-page-layout {
    width: 100%;
    padding: 80px 0 120px 0;
  }
  .login-page-layout-wrapper {
    width: 90vw;
    box-shadow: 0px 7px 0 0 rgb(0, 0, 0);
  }

  .login-page-layout-back-img img,
  .login-page-layout-cloud-img img {
    display: none;
  }
}
