.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65.12%;
  margin-left: 17.05%;
  margin-right: 15.83%;
  margin-bottom: 195px;
  margin-top: 77px; /* 서브 네비게이션 바 아래에 위치하도록 설정 */
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}
.three-color {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 2px black solid;
  box-sizing: border-box;
  padding: 3px;
}
.three-color-circle {
  width: 9px;
  height: 9px;
  background-color: #000;
  margin-right: 1%;
  border-radius: 50%;
  border: 1.5px black solid;
}
.three-green {
  background-color: #34b2a7;
}
.three-yellow {
  background-color: #ffd43a;
}
.three-red {
  background-color: #ff8473;
}

@media (min-width: 768px) and (max-width: 925px) {
  .page-layout {
    width: 86%;
    margin-right: 17.5%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .page-layout {
    width: 90%;
    margin-right: 17.5%;
    margin-bottom: 150px;
    margin-top: 77px; /* 서브 네비게이션 바 아래에 위치하도록 설정 */
  }
}

@media (max-width: 479px) {
  .page-layout {
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    margin-top: 70px; /* 서브 네비게이션 바 아래에 위치하도록 설정 */
    box-shadow: none;
  }
  .three-color {
    display: none;
  }
}
