.sub-nav-wrapper {
  position: fixed;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  height: 30px;
  display: flex;
  z-index: 1000; /* 헤더 위에 표시되도록 z-index 설정 */
}

.sub-nav-all-btn {
  margin-left: 18%;
  margin-right: 5px;
}

.sub-nav-wrapper button {
  border: none;
  background-color: transparent;
}

.sub-nav-wrapper a {
  text-decoration: none;
  color: #fff;
  font-size: 0.93rem;
  transition: 0.25s;
}

.sub-nav-wrapper a:hover {
  color: #ffe83a;
}

/* 미디어쿼리_ media query */
@media (min-width: 768px) and (max-width: 925px) {
  .sub-nav-all-btn {
    margin-left: 7%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .sub-nav-all-btn {
    margin-left: 5%;
  }
}

@media (max-width: 479px) {
  .sub-nav-wrapper {
    height: 20px;
  }
  .sub-nav-all-btn {
    margin-left: 5%;
  }
}
