.Bookmarks_main_right_container_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 28px;
}

.Bookmarks_main_right_container_box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    height: 180px;
    width: 100%;
}

.Bookmarks_main_right_container_box_img_wrapper {
    display: flex;
    background-size: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: 2px solid black;
    height: 100%;
    flex: 9;
    box-sizing: border-box;
}

.Bookmarks_main_right_container_box_text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 5px 11px 10px;
}

.Bookmarks_main_right_container_box_status_wrapper {
    font-size: 8px;
}

.Bookmarks_main_right_container_projectName_wrapper {
    font-weight: bold;
}

.Bookmarks_finishedProjectImg {
    background-size: cover;
    border-right: 2px solid black;
    border-top-left-radius: 5%;
    filter: grayscale(25%);
    opacity: 0.6;
}

.Bookmarks_finishedProject_text_wrapper {
    opacity: 0.8;
}
