.Bookmarks_main_right_container_cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 3% 0;
  gap: 15px;
}

.Bookmarks_main_right_container_box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  aspect-ratio: 137.04 / 171.3;
}

.Bookmarks_main_right_container_box_img_wrapper {
  display: flex;
  background-size: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid black;
  flex: 1;
  position: relative;
  opacity: 0.8;
}

.Bookmarks_main_right_container_box_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px 11px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Bookmarks_main_right_container_box_status_wrapper {
  font-size: 8px;
}

.Bookmarks_main_right_container_projectName_wrapper {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Bookmarks_finishedProjectImg {
  background-size: cover;
  border-top-left-radius: 10px;
  filter: grayscale(25%);
  opacity: 0.6;
}

.Bookmarks_finishedProject_text_wrapper {
  opacity: 0.8;
}

.Bookmarks_honeyPot_img_wrapper {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.Bookmarks_honeyPot_img {
  height: 30px;
}
