.profile-page {
  padding: 4% 16%;
  background-image: url("../../img/grid_temp2-18.svg");
  background-size: cover;
  background-color: #c4a1ff;
  display: flex;
  flex-direction: column;
}

.MyProfile_main_aside_rightContainer_wrapper {
  display: flex;
}

.profile-content {
  flex: 8;
  display: flex;
  flex-direction: column;
}

/* 모바일뷰 320px */

@media (max-width: 767px) {
  .profile-page {
    padding: 1%;
    justify-content: center;
  }
  .MyProfile_main_aside_rightContainer_wrapper {
    flex-direction: column;
  }
}
