html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.mainpage-main-page {
  display: flex;
  flex-direction: column;
}

.mainpage-main-section {
  display: flex;
  height: 800px;
  box-sizing: border-box;
}

.mainpage-left-section {
  width: 682px; /* 고정된 너비 */
  background-color: #c4a1ff; /* 연보라색 배경 */
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 100px 74px;
  box-sizing: border-box;
  justify-content: space-between;
}

.mainpage-left-section h1 {
  font-size: 5em;
  font-family: "cooper-black-std", sans-serif;
  color: #fbf2ed;
  font-weight: 200;
  -webkit-text-stroke: 2px black;
}

.mainpage-left-section h2 {
  font-size: 1.7em;
  font-family: "cooper-black-std", sans-serif;
  margin: 0;
}

.mainpage-left_bee_icon img {
  margin-left: 30px;
  height: 188px;
}

.mainpage-left-section .mainpage-h1_buddy {
  margin: 0;
}

.mainpage-left-section .mainpage-h1_bee {
  margin: 0;
}

.mainpage-left-section .mainpage-left_p {
  margin: 30px 10px 20px 10px;
  font-size: 1.2em;
  line-height: 1.7;
}

.mainpage-button-container {
  display: flex;
  gap: 10px;
}

.mainpage-main-button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  width: 274px;
  height: 114px;
  text-align: left;
  font-weight: bold;
}

.mainpage-main-button p {
  font-weight: normal;
}
.mainpage-btn-arrow {
  display: flex;
  flex-direction: row-reverse;
}

.mainpage-left_bee_icon {
  display: flex;
}

.mainpage-right-section {
  flex: 1; /* 줄어드는 부분 */
  min-width: 0; /* 최소 너비를 0으로 설정 */
  background-color: #fadf0b; /* 노란색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 높이 계산 */
  background-image: url("../../img/grid_temp2-18.svg");
}

.mainpage-text-container {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 800px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mainpage-text-up-section {
  padding: 4px 0;
  border-top: #c4a1ff 6px solid;
  border-bottom: #fadf0b 6px solid;
  display: flex;
}

.mainpage-text-section {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 900px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: #fadf0b 6px solid;
  border-bottom: #c4a1ff 6px solid;
  position: relative;
}

.mainpage-flower-icon {
  position: absolute;
  left: 89px;
  top: 42px;
  width: 120px;
}

.mainpage-cloud-icon {
  position: absolute;
  left: -54px;
  bottom: 184px;
  width: 150px;
}

.mainpage-bee-icon {
  position: absolute;
  right: -86px;
  top: 191px;
  width: 180px;
}

.mainpage-text-section h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 37px;
}

.mainpage-text-section h2:nth-child(2) {
  padding-bottom: 25px;
}

.mainpage-text-section h1 {
  margin: 0;
  font-size: 7em;
  font-family: "cooper-black-std", sans-serif;
  color: #ffffff;
  font-weight: 200;
  -webkit-text-stroke: 4px black;
}

.mainpage-text-section p {
  margin-top: 32px;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 37px;
  width: 70%;
}

.mainpage-recruitment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  padding: 90px;
  padding-right: 30px;
  background-color: #fff;
  background-image: url("../../img/grid_temp2-18.svg"); /* 격자 무늬 배경 이미지 경로 */
  background-size: cover;
  white-space: nowrap;
}

.mainpage-recruitment-section h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.3rem;
}

.mainpage-funding-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  padding: 90px;
  padding-right: 30px;
  background-color: #34b2a7;
  background-size: cover;
  white-space: nowrap;
}

.mainpage-funding-section h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.3rem;
}

.mainpage-ranking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding: 40px;
  background-color: #fff;
  background-image: url("../../img/grid_temp2-18.svg"); /* 격자 무늬 배경 이미지 경로 */
  background-size: cover;
  white-space: nowrap;
}

.mainpage-ranking-section h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.mainpage-ranking-keywords {
  margin-top: 60px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.mainpage-keyword {
  background-color: #feb92e;
  border: 2px solid #000;
  color: #000;
  padding: 18px 35px;
  border-radius: 50px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

/* Carousel Styles */
.mainpage-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.mainpage-card {
  width: 350px !important; /* 카드 너비 고정 */
  height: 470px; /* 카드 높이 고정 */
  background-color: #fff; /* 카드 배경 색상 */
  border-radius: 26px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: black solid 2px;
  box-sizing: border-box;
}

.mainpage-card-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainpage-card-image {
  width: 350px; /* 이미지 너비 고정 */
  height: 297px; /* 이미지 높이 고정 */
  object-fit: cover;
  opacity: 1; /* 이미지의 투명도 */
}

.mainpage-card-content {
  width: 100%;
  height: 172px; /* 컨텐츠 높이 고정 */
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: #000 solid 2px;
}

.mainpage-card-content h3 {
  margin: 0;
  font-size: 1.3em;
}

.mainpage-card-line-1 span {
  font-size: 0.8em;
}

.mainpage-card-content p {
  margin: 0;
  font-size: 0.8em;
  color: #9b9b9b;
}

.mainpage-card_desc {
  padding-top: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainpage-hashtags {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap; /* 한 줄로 정렬 */
  overflow: hidden;
  max-width: 100%;
}

.mainpage-hashtag {
  margin-top: 17px;
  background-color: #c4a1ff; /* 기본 해시태그 배경 색상 */
  border-radius: 25px;
  padding: 3px 6px;
  font-size: 1em;
  color: #333;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
}

.mainpage-hashtag.mainpage-alternate-color {
  background-color: #fadf0b; /* 대체 해시태그 배경 색상 */
}

.slick-slide {
  padding-right: 45px;
  height: 800px;
  display: flex !important;
  justify-content: center;
}

.slick-list {
  height: 500px;
}

.slick-track {
  height: 500px;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 50px;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -40px;
}

.mainpage-card-image-wrapper {
  position: relative;
}

.mainpage-participants-info {
  position: absolute;
  top: 18px;
  left: 17px;
  background: rgba(0, 0, 0);
  color: #fff;
  padding: 8px 10px;
  border-radius: 50px;
  font-size: 0.9em;
}

.mainpage-scrap-icon {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

/* 479px 이하 버전 */
@media (max-width: 479px) {
  .mainpage-left-section {
    width: 100%;
    background-color: #c4a1ff;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 52px 27px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .mainpage-left-section h1 {
    font-size: 3rem;
  }

  .mainpage-left_bee_icon img {
    display: none;
  }

  .mainpage-button-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .mainpage-right-section {
    display: none;
  }

  /* 텍스트 컨테이너 */
  .mainpage-text-container {
    width: 100%;
    padding: 0;
  }

  .mainpage-text-section {
    width: 100%;
    height: 600px;
  }

  .mainpage-text-up-section {
    width: 100%;
  }

  .mainpage-text-section h1 {
    font-size: 2rem;
  }

  .mainpage-flower-icon {
    display: none;
  }

  .mainpage-cloud-icon {
    display: none;
  }

  .mainpage-bee-icon {
    display: none;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .mainpage-ranking-section h2 {
    font-size: 1.3rem;
  }

  .mainpage-ranking-keywords {
    margin-top: 60px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainpage-card {
    width: 250px !important; /* 카드 너비 조정 */
    height: 350px; /* 카드 높이 조정 */
  }

  .mainpage-card-image {
    width: 250px; /* 이미지 너비 조정 */
    height: 200px; /* 이미지 높이 조정 */
  }

  .mainpage-card-content {
    height: 150px; /* 컨텐츠 높이 조정 */
  }
}

/* 480px ~ 768px 버전 */
@media (min-width: 480px) and (max-width: 768px) {
  .mainpage-left-section {
    width: 100%;
    background-color: #c4a1ff;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 70px 40px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .mainpage-left-section h1 {
    font-size: 5rem;
  }

  .mainpage-left_bee_icon img {
    display: none;
  }

  .mainpage-button-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .mainpage-right-section {
    display: none;
  }

  /* 텍스트 컨테이너 */
  .mainpage-text-container {
    width: 100%;
    padding: 0;
  }

  .mainpage-text-section {
    width: 100%;
    height: 600px;
  }

  .mainpage-text-up-section {
    width: 100%;
  }

  .mainpage-text-section h1 {
    font-size: 4rem;
  }

  .mainpage-flower-icon {
    display: none;
  }

  .mainpage-cloud-icon {
    display: none;
  }

  .mainpage-bee-icon {
    display: none;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .mainpage-ranking-section h2 {
    font-size: 1.5rem;
  }

  .mainpage-ranking-keywords {
    margin-top: 60px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainpage-card {
    width: 300px !important; /* 카드 너비 조정 */
    height: 400px; /* 카드 높이 조정 */
  }

  .mainpage-card-image {
    width: 300px; /* 이미지 너비 조정 */
    height: 250px; /* 이미지 높이 조정 */
  }

  .mainpage-card-content {
    height: 150px; /* 컨텐츠 높이 조정 */
  }
}
