html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.mainpage-main-page {
  display: flex;
  flex-direction: column;
}

.mainpage-main-section {
  display: flex;
  height: 800px;
  box-sizing: border-box;
}

.mainpage-left-section {
  width: 682px; /* 고정된 너비 */
  background-color: #c4a1ff; /* 연보라색 배경 */
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 80px 82px 80px 68px;
  box-sizing: border-box;
  justify-content: space-between;
}

.mainpage-left-section h1 {
  font-size: 5em;
  font-family: "cooper-black-std", sans-serif;
  color: #fbf2ed;
  font-weight: 200;
  -webkit-text-stroke: 2px black;
}

.mainpage-left-section h2 {
  font-size: 1.7em;
  font-family: "cooper-black-std", sans-serif;
  margin: 0;
}

.mainpage-left_bee_icon img {
  margin-left: 30px;
  height: 188px;
}

.mainpage-left-section .mainpage-h1_buddy {
  margin: 0;
}

.mainpage-left-section .mainpage-h1_bee {
  margin: 0;
}

.mainpage-left-section .mainpage-left_p {
  margin: 30px 10px 20px 0px;
  font-size: 1.2em;
  line-height: 1.7;
}

.mainpage-button-container {
  display: flex;
  gap: 10px;
}

.mainpage-main-button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  width: 274px;
  height: 114px;
  text-align: left;
  font-weight: bold;
}

.mainpage-main-button p {
  font-weight: normal;
}
.mainpage-btn-arrow {
  display: flex;
  flex-direction: row-reverse;
}

.mainpage-left_bee_icon {
  display: flex;
}

.mainpage-right-section {
  flex: 1; /* 줄어드는 부분 */
  min-width: 0; /* 최소 너비를 0으로 설정 */
  background-color: #fadf0b; /* 노란색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 높이 계산 */
  background-image: url("../../img/grid_temp2-18.svg");
}

.mainpage-text-container {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 800px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mainpage-text-up-section {
  padding: 4px 0;
  border-top: #c4a1ff 6px solid;
  border-bottom: #fadf0b 6px solid;
  display: flex;
}

.mainpage-text-section {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 900px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: #fadf0b 6px solid;
  border-bottom: #c4a1ff 6px solid;
  position: relative;
}

.mainpage-flower-icon {
  position: absolute;
  left: 89px;
  top: 42px;
  width: 120px;
}

.mainpage-cloud-icon {
  position: absolute;
  left: -54px;
  bottom: 184px;
  width: 150px;
}

.mainpage-bee-icon {
  position: absolute;
  right: -86px;
  top: 191px;
  width: 180px;
}

.mainpage-text-section h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 37px;
  word-break: keep-all;
}

.mainpage-text-section h2:nth-child(2) {
  padding-bottom: 25px;
}

.mainpage-text-section h1 {
  margin: 0;
  font-size: 7em;
  font-family: "cooper-black-std", sans-serif;
  color: #ffffff;
  font-weight: 200;
  -webkit-text-stroke: 4px black;
}

.mainpage-text-section p {
  margin-top: 32px;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 37px;
  width: 70%;
  word-break: keep-all;
}

.mainpage-recruitment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  padding: 90px;
  padding-right: 30px;
  background-color: #fff;
  background-image: url("../../img/grid_temp2-18.svg"); /* 격자 무늬 배경 이미지 경로 */
  background-size: cover;
  white-space: nowrap;
}

.mainpage-recruitment-section h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.3rem;
}

.mainpage-funding-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  padding: 90px;
  padding-right: 30px;
  background-color: #34b2a7;
  background-size: cover;
  white-space: nowrap;
}

.mainpage-funding-section h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.3rem;
}

.mainpage-ranking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding: 40px;
  background-color: #fff;
  background-image: url("../../img/grid_temp2-18.svg"); /* 격자 무늬 배경 이미지 경로 */
  background-size: cover;
  white-space: nowrap;
}

.mainpage-ranking-section h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.mainpage-ranking-keywords {
  margin-top: 60px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.mainpage-keyword {
  background-color: #feb92e;
  border: 2px solid #000;
  color: #000;
  padding: 18px 35px;
  border-radius: 50px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

/* Carousel Styles */
.mainpage-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.mainpage-card {
  width: 350px !important; /* 카드 너비 고정 */
  height: 470px; /* 카드 높이 고정 */
  background-color: #fff; /* 카드 배경 색상 */
  border-radius: 26px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: black solid 2px;
  box-sizing: border-box;
  transition: all 0.2s;
  cursor: pointer;
}

.mainpage-card:hover {
  transform: translateY(-50px);
}

.mainpage-card-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mainpage-card-image {
  width: 350px; /* 이미지 너비 고정 */
  height: 297px; /* 이미지 높이 고정 */
  object-fit: cover;
  opacity: 1; /* 이미지의 투명도 */
}

.mainpage-card-content {
  width: 100%;
  height: 172px; /* 컨텐츠 높이 고정 */
  box-sizing: border-box;
  padding: 13px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: #000 solid 2px;
}

.mainpage-card-content h3 {
  margin: 0;
  font-size: 1.3em;
}

.mainpage-card-line-1 span {
  font-size: 0.9em;
}

.mainpage-card-content p {
  margin: 0;
  font-size: 0.8em;
  color: #9b9b9b;
}

.mainpage-card_desc {
  padding-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainpage-hashtags {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap; /* 한 줄로 정렬 */
  overflow: hidden;
  max-width: 100%;
  margin: 0;
}

.mainpage-hashtag {
  margin-top: 18px;
  background-color: #c4a1ff; /* 기본 해시태그 배경 색상 */
  border-radius: 25px;
  padding: 4px 8px;
  font-size: 1em;
  color: #333;
  white-space: nowrap; /* 한 줄로 표시 */
  border: 1px solid #000;
}

.mainpage-hashtag.mainpage-alternate-color {
  background-color: #fadf0b; /* 대체 해시태그 배경 색상 */
  border: 1px solid #000;
}

.slick-slide {
  padding-right: 45px;
  height: 800px;
  display: flex !important;
  justify-content: center;
}
.slick-slider {
  padding-right: 20px;
}
.slick-list {
  height: 550px;
}

.slick-track {
  height: 500px;
  margin-top: 50px;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 50px;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -20px;
}

.mainpage-card-image-wrapper {
  position: relative;
}

.mainpage-participants-info {
  position: absolute;
  top: 18px;
  left: 17px;
  background: rgba(0, 0, 0);
  color: #fff;
  padding: 8px 10px;
  border-radius: 50px;
  font-size: 0.9em;
}

.mainpage-scrap-icon {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: 0.15s ease;
}
.mainpage-scrap-icon:hover {
  transform: scale(1.1);
}
.mainpage-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%; /* 필요한 너비에 맞게 조정 */
}
/* 공통 애니메이션 설정 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-15vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(15vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInBounce {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(40px);
    transform: scaleX(1.3);
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }
}

.from-right,/*애니메이션 요소 기본 상태*/
.from-left,
.from-down,
.from-bounce {
  opacity: 0;
}
.from-bounce.fade-in-bounce,/*애니메이션 실행 후 보이도록 설정*/
.from-left.fade-in-left,
.from-right.fade-in-right,
.from-down.fade-in-bounce {
  opacity: 1;
}

.fade-in-up {
  animation: fadeInUp 0.6s ease forwards;
}

.fade-in-left {
  animation: fadeInLeft 1s ease;
  transition: 0.2s ease;
}

.fade-in-right {
  animation: fadeInRight 0.7s ease;
  transition: 0.2s ease;
}

.fade-in-bounce {
  animation: fadeInBounce 1.2s ease;
  transition: 0.2s ease;
}
/*애니메이션 요소 호버 효과*/
.fade-in-bounce:hover,
.fade-in-left:hover,
.fade-in-right:hover {
  transform: translateY(-20px);
}

/* 호버 효과 */
.mainpage-main-button {
  transition: transform 0.3s ease; /* 호버 전환 효과 */
}

.mainpage-main-button:hover {
  transform: scale(1.05); /* 크기 확대 */
}

.mainpage-arrow-icon {
  transition: width 0.3s ease; /* 부드러운 전환 */
  width: 20px; /* 기본 너비 */
  height: 19px;
}

.mainpage-main-button:hover .mainpage-arrow-icon {
  width: 60px; /* 호버 시 길어지는 너비 */
}

/*text-section bee-icon, clould-icon, flower-icon전용*/
@media (min-width: 976px) and (max-width: 1128px) {
  .mainpage-cloud-icon {
    left: 1.5vw;
    bottom: 180px;
    width: 130px;
  }

  .mainpage-bee-icon {
    right: -1vw;
    top: 290px;
    width: 150px;
  }
}

/*해당 구간부터 text-section 반응형으로*/
@media (max-width: 956px) {
  .mainpage-text-section {
    width: 100%;
  }
}
/*text-section 전용*/
@media (min-width: 769px) and (max-width: 975px) {
  .mainpage-cloud-icon,
  .mainpage-bee-icon {
    display: none;
  }
  .mainpage-flower-icon {
    width: 110px;
    top: 30px;
    left: 7vw;
  }

  .mainpage-text-section h1 {
    font-size: 5rem;
  }
  .mainpage-text-section p {
    margin-top: 32px;
    font-size: 1em;
    line-height: 28px;
    width: 70%;
  }
}
/* 메인 페이지 전체 480px ~ 768px 버전 */
@media (min-width: 480px) and (max-width: 768px) {
  .mainpage-left-section {
    width: 100%;
    padding: 80px 50px;
  }
  .mainpage-card-content h3 {
    font-size: 1rem;
  }

  .mainpage-left-section .mainpage-left_p {
    margin: 30px 10px 20px 0px;
    font-size: 1.2em;
    line-height: 1.7;
    width: 85%;
    word-break: keep-all;
  }
  .mainpage-left-section h1 {
    font-size: 5rem;
  }

  .mainpage-button-container {
    gap: 10px;
    padding-bottom: 40px;
  }

  .mainpage-main-button {
    box-sizing: border-box; /* padding과 border를 포함하여 계산 */
    padding: 10px 20px;
    font-size: 1em;
    width: 30vw;
  }

  .mainpage-right-section {
    display: none;
  }

  .mainpage-left_bee_icon img {
    display: none;
  }

  /* 텍스트 컨테이너 */
  .mainpage-text-container {
    padding: 0;
  }

  .mainpage-text-section {
    height: 600px;
  }

  .mainpage-text-section h1 {
    font-size: 3.9rem;
  }
  .mainpage-text-section h2 {
    font-size: 1.4em;
    line-height: 37px;
  }
  .mainpage-text-section p {
    margin-top: 32px;
    font-size: 1em;
    line-height: 27px;
  }
  .mainpage-flower-icon {
    left: 19vw;
    top: 50px;
    rotate: -8deg;
    width: 80px;
  }

  .mainpage-cloud-icon {
    display: none;
  }

  .mainpage-bee-icon {
    right: 10vw;
    top: 480px;
    width: 110px;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .mainpage-ranking-section h2 {
    font-size: 1.5rem;
  }

  .mainpage-ranking-keywords {
    margin-top: 60px;
    gap: 15px;
  }

  .mainpage-card {
    width: 300px !important; /* 카드 너비 조정 */
    height: 400px; /* 카드 높이 조정 */
  }

  .mainpage-card-image {
    width: 300px; /* 이미지 너비 조정 */
    height: 250px; /* 이미지 높이 조정 */
  }

  .mainpage-card-content {
    height: 150px; /* 컨텐츠 높이 조정 */
  }

  .mainpage-hashtag {
    margin-top: 5px;
    margin-bottom: 3px;
  }
}

/* 479px 이하 버전 */
@media (max-width: 479px) {
  .mainpage-left-section {
    width: 100%;
    padding: 44px 25px 60px 27px;
  }

  .mainpage-left-section h1 {
    font-size: 3rem;
  }

  .mainpage-left-section h2 {
    margin-top: 0.5rem;
    font-size: 1.6em;
  }

  .mainpage-left-section .mainpage-left_p {
    margin: 30px 10px 20px 0px;
    font-size: 1em;
    line-height: 1.5;
  }

  .mainpage-main-button {
    padding: 10px 20px 10px 20px;
    font-size: 1em;
    width: 250px;
    height: 114px;
  }

  .mainpage-main-button p {
    margin: 10px 0 10px 0;
  }
  .mainpage-left_bee_icon img {
    display: none;
  }

  .mainpage-button-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .mainpage-right-section {
    display: none;
  }

  /* 텍스트 컨테이너 */

  .mainpage-text-section {
    border-top: #fadf0b 4px solid;
    border-bottom: #c4a1ff 4px solid;
  }

  .mainpage-text-up-section {
    padding: 5px 0;
    border-top: #c4a1ff 4px solid;
    border-bottom: #fadf0b 4px solid;
  }

  .mainpage-text-container {
    padding: 0;
  }

  .mainpage-text-section {
    height: 600px;
  }
  .mainpage-text-section p {
    margin-top: 30px;
    font-size: 0.9rem;
    line-height: 25px;
    width: 90%;
  }

  .mainpage-text-section h1 {
    font-size: 3rem;
  }

  .mainpage-text-section h2 {
    margin: 0;
    font-size: 1.2em;
    line-height: 30px;
  }

  .mainpage-text-section h2:nth-child(1) {
    padding-top: 16px;
  }
  .mainpage-text-section h2:nth-child(2) {
    padding-bottom: 30px;
  }

  .mainpage-flower-icon {
    position: absolute;
    left: 10vw;
    top: 75px;
    width: 18%;
    rotate: -8deg;
  }
  .mainpage-bee-icon {
    right: 5vw;
    top: 522px;
    width: 85px;
  }

  .mainpage-cloud-icon {
    display: none;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  /*카드 캐러셀*/
  .slick-prev,
  .slick-next {
    width: 0px;
    height: 0px;
  }

  .mainpage-recruitment-section h2,
  .mainpage-funding-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .mainpage-ranking-section h2 {
    font-size: 1.3rem;
  }
  .mainpage-ranking-keywords {
    margin-top: 60px;
    gap: 15px;
  }

  .mainpage-card {
    width: 250px !important; /* 카드 너비 조정 */
    height: 350px; /* 카드 높이 조정 */
  }

  .mainpage-card-image {
    width: 250px; /* 이미지 너비 조정 */
    height: 200px; /* 이미지 높이 조정 */
  }

  .mainpage-card-content {
    height: 150px; /* 컨텐츠 높이 조정 */
  }
  .mainpage-card-content h3 {
    font-size: 1rem;
  }
  .mainpage-hashtag {
    margin-top: 5px;
    margin-bottom: 3px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  /*텍스트 섹션*/
  .mainpage-text-section h1 {
    font-size: 2.5rem;
  }

  /*펀딩 부분*/
  .mainpage-funding-section {
    padding: 50px;
    padding-right: 10px;
  }

  /*동행 부분*/
  .mainpage-recruitment-section {
    padding: 50px;
    padding-right: 10px;
  }

  /*랭킹 부분*/
  .mainpage-ranking-keywords {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .mainpage-keyword {
    padding: 18px 30px;
    font-size: 1.2em;
  }
  /*카드 부분*/
  .mainpage-card {
    width: 220px !important; /* 카드 너비 조정 */
    height: 320px; /* 카드 높이 조정 */
  }

  .mainpage-card-image {
    width: 220px; /* 이미지 너비 조정 */
    height: 180px; /* 이미지 높이 조정 */
  }

  .mainpage-card-content {
    height: 140px; /* 컨텐츠 높이 조정 */
    padding: 10px 13px 15px 12px;
  }
  .mainpage-participants-info {
    top: 13px;
    left: 12px;
    font-size: 0.8em;
  }

  .mainpage-scrap-icon {
    top: 8px;
    right: 8px;
    width: 45px;
    height: 45px;
  }

  .mainpage-hashtag {
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 14px;
  }
  .mainpage-card_desc {
    padding-top: 10px;
  }
  .mainpage-card-content h3 {
    font-size: 1rem;
  }
}
