/* 로그인창 내용물 */
.register-page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
}

.register-page-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.register-page-icon-wrapper {
  text-align: center;
}

.register-page-btn-wrapper {
  display: flex;
  margin: 10px 10% 0 0;
  justify-content: flex-end;
}

.register-page-icon-wrapper img {
  width: 5.7rem;
}

.register-page-icon-wrapper h2 {
  font-size: 2.1rem;
  margin: 10px 0 30px 0;
}

.register-page-input-wrapper input {
  padding: 13px 20px;
  margin-bottom: 5px;
  border-radius: 40px;
  border: 1px solid black;
}

.register-page-btn-wrapper button {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  margin-left: 5px;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s;
  z-index: 3000;
}

.register-page-btn-wrapper button:focus {
  box-shadow: none;
  transform: translateX(2px);
}

.register-page-nickname-wrapper {
  display: flex;
  justify-content: space-between;
}

#nickname {
  width: 62%;
}

.check-nickname-btn {
  height: 44px;
  padding: 0px 14px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  justify-content: space-between;
}
.error-message {
  color: #ff1e00;
  font-size: 14px;
  margin: 0 0 8px 10px;
}

/* 미디어 쿼리 */
@media (min-width: 480px) and (max-width: 767px) {
  .check-nickname-btn {
    margin-left: 5px;
    font-size: 14px;
    width: 84px;
    justify-content: space-between;
  }
}
@media (max-width: 479px) {
  .register-page-icon-wrapper img {
    width: 5.5rem;
  }

  .register-page-icon-wrapper h2 {
    font-size: 1.9rem;
    margin: 20px 0 36px 0;
  }

  .register-page-input-wrapper input {
    padding: 12px 16px;
    margin-bottom: 7px;
    border-radius: 40px;
    border: 1px solid black;
  }

  .check-nickname-btn {
    width: 25%;
    height: 42px;
    font-size: 12px;
    margin-left: 4px;
    padding: 0px;
  }
}
