.MyProfile_main_aside {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 4.5px 4.5px 0px 0px black;
  margin: 10px;
  background-color: white;
  display: flex;
  flex: 1.5;
  flex-direction: column;
  padding: 2% 2% 0% 2%;
  white-space: nowrap;
}

.MyProfile_main_aside > a {
  text-decoration: none;
} /* > Link가 아닌 a로 작성해야 적용됨 */

.MyProfile_main_aside_category {
  color: #505050;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
}

.MyProfile_main_aside_category_active {
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
}

.MyProfile_main_aside_deleteId_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  color: #afafaf;
  cursor: pointer;
}

@media (max-width: 767px) {
  .MyProfile_main_aside {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10px;
    box-shadow: none;
  }
  .MyProfile_main_aside_category,
  .MyProfile_main_aside_category_active {
    font-size: 12px;
    margin-left: 4px;
    border: none;
  }
  .MyProfile_main_aside_deleteId_wrapper {
    display: none;
  }
}
