/* 신청자 정보 */
.ProjectDetailPage-user-wrap {
  width: 100%;
  margin-top: 94px;
}

.ProjectDetailPage-user-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ProjectDetailPage-user-title span {
  color: #ff8473;
}

.ProjectDetailPage-user-info {
  width: 100%;
}

.ProjectDetailPage-user-info input {
  width: 100%;
  height: 50px;
  border: none;
}

.ProjectDetailPage-user-info ::placeholder {
  padding-left: 10px;
}

.ProjectDetailPage-user-name {
  border-bottom: 1px dashed #888;
  border-width: 2px;
}
.ProjectDetailPage-user-email {
  border-bottom: 1px dashed #888;
  border-width: 2px;
}
.ProjectDetailPage-user-tel {
  border-bottom: 1px dashed #888;
  border-width: 2px;
}
