/* 게시글 해시태그 */
.ProjectDetailPage-hash-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 76px 0 47px 0;
}

.ProjectDetailPage-hash {
  text-align: center;
}

.ProjectDetailPage-hash-list {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ProjectDetailPage-hash-tag {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  font-weight: 500;
}

.yellow {
  background-color: #fadf0b;
}

.purple {
  background-color: #c4a1ff;
}
