/* 게시글 해시태그 */
.ProjectDetailPage-hash-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 32px 0;
}

.ProjectDetailPage-hash {
  text-align: center;
}

.ProjectDetailPage-hash-list {
  gap: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ProjectDetailPage-hash-tag {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  /* font-weight: bold; */
}

.yellow {
  background-color: #fadf0b;
}

.purple {
  background-color: #c4a1ff;
}

/* 미디어쿼리_ media query */
@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 480px) and (max-width: 767px) {
  .ProjectDetailPage-hash-wrap {
    padding: 60px 0 36px 0;
  }
  .ProjectDetailPage-hash-tag {
    padding: 8px;
    margin-bottom: 3px;
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .ProjectDetailPage-hash-wrap {
    padding: 48px 0 28px 0;
  }
  .ProjectDetailPage-hash-tag {
    padding: 8px;
    margin-bottom: 3px;
    font-size: 13px;
  }
}
