/* 개인정보 수집 동의 */
.ProjectDetailPage-agree-wrap {
  width: 100%;
  margin-top: 89px;
}

.ProjectDetailPage-agree-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ProjectDetailPage-agree-title span {
  color: #ff8473;
}

.ProjectDetailPage-agree-content {
  margin-top: 18px;
  font-size: 0.8rem;
  color: #999999;
}

.ProjectDetailPage-agree-check {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ProjectDetailPage-agree-check div {
  padding-right: 5px;
}

ProjectDetailPage-agree-check input[type="checkbox"] {
  accent-color: black;
}

/* 미디어쿼리_ media query */
@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
  .ProjectDetailPage-agree-title {
    font-size: 1rem;
  }
  .ProjectDetailPage-agree-content {
    font-size: 12px;
  }
}
