/* 작성자 프로필 */
.ProjectDetailPage-profile-wrap {
  display: flex;
  justify-content: center;
}

.ProjectDetailPage-profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

/* 작성자 프로필사진 */
.ProjectDetailPage-profile-img {
  width: 164px;
  height: 164px;
  border-radius: 100%;
  background-color: #ccc;
  border: 2px solid #000;
}

.ProjectDetailPage-profile-detail {
  text-align: center;
}

/* 작성자 닉네임 */
.ProjectDetailPage-profile-name {
  padding-top: 21px;
  font-weight: bold;
}

.ProjectDetailPage-profile-name span {
  font-size: 1.2rem;
}

/* 작성자 자기소개글 */
.ProjectDetailPage-profile-txt {
  padding-top: 0.8rem;
}

.ProjectDetailPage-profile-txt span {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
