/* 윈도우 페이지 배경 */
.ProjectDetailPage-all {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #000;
  border-top: none;
  box-sizing: border-box;
}

.ProjectDetailPage-container {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 136px;
}

/* 게시글 수요조사 옵션 합계금액 */
.ProjectDetailPage-detail-wrap {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 18px;
  justify-content: center;
}

.ProjectDetailPage-detail {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 0;
}

.ProjectDetailPage-detail-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

/* 수요조사 */
.ProjectDetailPage-day {
  margin-bottom: 44px;
}

.ProjectDetailPage-detail-day {
  font-size: 1.1rem;
}

.ProjectDetailPage-detail-title span {
  color: #ff8473;
}

/* 옵션 선택 */
.ProjectDetailPage-goods-wrap {
  display: flex;
  justify-content: space-between;
}
.ProjectDetailPage-goods {
  font-size: 1.1rem;
  padding: 0 0 5px 0;
}

.ProjectDetailPage-input input {
  border-radius: 5px;
  border: 2px solid #757575;
}

.ProjectDetailPage-input span {
  padding-left: 12px;
  font-size: 16px;
}

.ProjectDetailPage-goods span {
  color: #d1d1d1;
  font-size: 16px;
}

/*옵션 선택 체크 박스*/
.ProjectDetailPage-input input[type="checkbox"] {
  accent-color: black;
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
}
.ProjectDetailPage-input input[type="number"] {
  accent-color: black;
  border-radius: none;
  width: 30px;
  /* height: 20px; */
  margin-bottom: 3px;
  padding: 3px 5px 3px 5px;
  transition: 0.1s ease;
}

.ProjectDetailPage-input input[type="checkbox"]:hover,
.ProjectDetailPage-input input[type="number"]:hover {
  transform: scale(1.1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* 화살표 배경과 색상 변경 */

/* 총 결제금액 */
.ProjectDetailPage-total {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.ProjectDetailPage-total-cash {
  font-size: 1.4rem;
  font-weight: bold;
}

/* 펀딩 참여하기 버튼 */
.ProjectDetailPage-click {
  width: 100%;
  margin: 150px 0 134px 0;
  display: flex;
  justify-content: center;
}

.ProjectDetailPage-click-btn {
  padding: 30px 79px 30px 79px;
  border: 3px solid #000;
  border-radius: 50px;
  background-color: #fadf0b;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.ProjectDetailPage-click-btn:hover {
  transform: scale(1.05);
}

/*미디어 쿼리*/
@media (min-width: 768px) and (max-width: 925px) {
}

@media (min-width: 480px) and (max-width: 767px) {
  .ProjectDetailPage-detail {
    padding: 30px 0;
  }
  .ProjectDetailPage-container {
    box-sizing: border-box;
    width: 82%;
    padding-bottom: 136px;
  }

  .ProjectDetailPage-click-btn {
    padding: 24px 60px;
    border: 2px solid #000;
    font-size: 1.4rem;
  }
}

@media (max-width: 479px) {
  .ProjectDetailPage-all {
    border: 1px solid #000;
  }

  .ProjectDetailPage-container {
    width: 82%;
  }

  .ProjectDetailPage-detail {
    width: 85%;
    padding: 24px 5px 20px 5px;
  }
  .ProjectDetailPage-detail-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .ProjectDetailPage-detail-day {
    font-size: 14px;
  }

  .ProjectDetailPage-goods {
    font-size: 14px;
    padding: 0 0 8px 0;
    display: flex;
    flex-direction: column;
  }
  .ProjectDetailPage-goods span {
    font-size: 13px;
    word-break: keep-all;
    margin-top: 2px;
  }
  .ProjectDetailPage-input span {
    padding-left: 4px;
    font-size: 14px;
  }

  .ProjectDetailPage-input input[type="checkbox"] {
    width: 13px;
    height: 13px;
  }

  .ProjectDetailPage-input input[type="number"] {
    padding: 1px 0 0 4px;
  }

  /* 총 결제금액 */
  .ProjectDetailPage-total {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
  }
  .ProjectDetailPage-total-cash {
    font-size: 1rem;
    font-weight: bold;
  }

  .ProjectDetailPage-click-btn {
    padding: 20px 40px;
    border: 2px solid #000;
    font-size: 1.2rem;
  }
}
