/* 로그인창 내용물 */
.login-page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
}

.login-page-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin-top: 20px; */
}

.login-page-icon-wrapper {
  text-align: center;
}

.login-page-btn-wrapper {
  display: flex;
  margin: 10px 10% 0 0;
  justify-content: flex-end;
}

.login-page-register-dropdown {
  position: absolute;
  top: 410px;
  right: 35px;
  width: 130px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 0px rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
  z-index: 9999;
  animation: register-dropdown 0.12s ease;
}

@keyframes register-dropdown {
  0% {
    opacity: 0.5;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 410;
  }
}

.login-page-icon-wrapper img {
  width: 5.7rem;
}

.login-page-icon-wrapper h2 {
  font-size: 2.1rem;
  margin: 10px 0 30px 0;
}

.login-page-input-wrapper input {
  padding: 13px 20px;
  margin-bottom: 5px;
  border-radius: 40px;
  border: 1px solid black;
}

.login-page-btn-wrapper button {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  margin-left: 5px;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 49px;
}

.login-page-btn-wrapper button:focus {
  box-shadow: none;
  transform: translateX(2px);
}

.login-page-dropdown-list {
  padding: 0 0 0 15px;
}

.login-page-dropdown-list li {
  list-style: none;
  font-size: 14px;
  transition: 0.3s;
}

.login-page-dropdown-list li:hover {
  font-weight: bold;
}

/* 미디어 쿼리 */
@media (min-width: 480px) and (max-width: 767px) {
  .login-page-register-dropdown {
    top: 400px;
    right: 28px;
    width: 130px;
  }
}

@media (max-width: 479px) {
  .login-page-register-dropdown {
    top: 77%;
    right: 7.4vw;
    width: 130px;
  }
}
