/* 로그인창 내용물 */
.login-page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
}

.login-page-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin-top: 20px; */
}

.login-page-icon-wrapper {
  text-align: center;
}

.login-page-btn-wrapper {
  display: flex;
  margin: 10px 10% 0 0;
  justify-content: flex-end;
}

.sns-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 9% 0 0;
}

.sns-login-wrapper p {
  font-size: 0.8rem;
  margin-bottom: 10px;
  align-items: flex-end;
}

.sns-login-icons {
  display: flex;
  justify-content: center;
}

.sns-login-icons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 3px;
}

.sns-login-icons img {
  width: 14px;
  height: 14px;
  transition: transform 0.2s;
}

.sns-login-icons button:hover img {
  transform: scale(1.5);
}

.login-page-register-dropdown {
  position: absolute;
  top: 410px;
  right: 35px;
  width: 130px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 0px rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
  z-index: 9999;
  animation: register-dropdown 0.12s ease;
}

@keyframes register-dropdown {
  0% {
    opacity: 0.5;
    top: 400px;
  }
  100% {
    opacity: 1;
    top: 410;
  }
}

.login-page-icon-wrapper img {
  width: 5.7rem;
}

.login-page-icon-wrapper h2 {
  font-size: 2.1rem;
  margin: 10px 0 30px 0;
}

.login-page-input-wrapper input {
  padding: 13px 20px;
  margin-bottom: 5px;
  border-radius: 40px;
  border: 1px solid black;
}

.login-page-btn-wrapper button {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  margin-left: 5px;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s;
}

.login-page-btn-wrapper button:focus {
  box-shadow: none;
  transform: translateX(2px);
}

.login-page-dropdown-list {
  padding: 0 0 0 15px;
}

.login-page-dropdown-list li {
  list-style: none;
  font-size: 14px;
  transition: 0.3s;
}

.login-page-dropdown-list li:hover {
  font-weight: bold;
}

/*모달 창*/
.sns-register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.671);
  z-index: 9999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 51%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 36px 36px 40px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
  width: 100%;
  max-width: 350px;
  z-index: 9999;
  box-sizing: border-box;
}

.modal-close-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sns-signup-btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
  transition: 0.2s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.sns-signup-btn span {
  margin-bottom: 1px;
}
.sns-signup-btn:hover {
  transform: scale(1.05);
}

.sns-signup-btn:focus {
  box-shadow: none;
  transform: translateX(2px);
}

.sns-signup-btn img {
  width: 14px; /* 원하는 크기로 조절 */
  height: 14px; /* 원하는 크기로 조절 */
}
.naver img {
  width: 18px;
  height: 18px;
}
.kakao img {
  width: 20px;
  height: 20px;
}
.naver {
  background-color: #00bf18;
  color: white;
  padding: 9px;
}

.kakao {
  background-color: #ffe90a;
  color: black;
  padding: 8px;
}

.google {
  background-color: white;
  color: black;
  padding: 9px;
}
.google img {
  margin-left: 4px;
  margin-right: 4px;
  scale: 1.1;
}
.google span {
  margin-right: 9px;
}

.modal-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0 34px 10px;
}

/* 미디어 쿼리 */
@media (min-width: 480px) and (max-width: 767px) {
  .login-page-register-dropdown {
    top: 400px;
    right: 28px;
    width: 130px;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 54%;
    max-width: 300px;
  }
}

@media (max-width: 479px) {
  .login-page-register-dropdown {
    top: 77%;
    right: 7.4vw;
    width: 130px;
  }

  .login-page-icon-wrapper img {
    width: 5.5rem;
  }

  .login-page-icon-wrapper h2 {
    font-size: 1.9rem;
    margin: 20px 0 36px 0;
  }

  .login-page-input-wrapper input {
    padding: 12px 16px;
    margin-bottom: 7px;
    border-radius: 40px;
    border: 1px solid black;
  }
  .modal {
    width: 80%;
    box-shadow: none;
    border-radius: 18px;
  }
  .modal-close-btn {
    top: 4px;
    right: 10px;
  }
  .modal-title {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0 30px 0;
  }
}
