@import "../../styles/mixins.css";
@import "../../styles/variables.css";

.headerpage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  white-space: nowrap;
  padding-left: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerpage-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px 10px 30px;
  text-align: center;
  margin: 0 20px;
}

.headerpage-header-left img {
  margin-right: 20px;
}

.headerpage-header-right img {
  margin: 4px;
}

.headerpage-header-left {
  display: flex;
  align-items: center;
}

.headerpage-header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.headerpage-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.headerpage-search-container input {
  padding-right: 30px; /* 검색 아이콘 공간 확보 */
  border: 2px solid rgb(54, 54, 54);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 9px 9px 9.5px 14px;
  margin-right: 15px;
  outline: none;
}

.headerpage-search-container .headerpage-search-icon {
  position: absolute;
  right: 21px;
  width: 20px;
  height: 20px;
}

.headerpage-header-right button {
  margin-right: 16px;
  background-color: #ff8473;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 9px 15px;
  font-weight: bold;
}
.headerpage-login-button {
  margin-right: 10px;
  background-color: #ff8473;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 8px 13px;
  font-weight: bold;
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 글자 색상 */
  display: inline-block; /* 링크가 블록처럼 동작하도록 */
  transition: background-color 0.3s ease; /* 호버 시 배경색 전환 */
  cursor: pointer; /* 버튼 커서 지정 */
}

.headerpage-login-button:hover {
  background-color: #ff6f61; /* 호버 시 배경색 변경 */
  text-decoration: none; /* 호버 시 밑줄 제거 */
}
.headerpage-profile-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer; /* 클릭 가능한 요소임을 나타냄 */
}

.headerpage-profile-image {
  width: 100%;
  height: auto;
}

/* 드롭다운 메뉴 스타일 */
.headerpage-dropdown-menu,
.headerpage-profile-dropdown-menu {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
  color: black;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.headerpage-dropdown-menu {
  position: absolute;
  top: 65px;
  right: 50px;
}
.headerpage-profile-dropdown-menu {
  position: absolute;
  top: 65px;
  right: -49px;
}
.headerpage-dropdown-menu.headerpage-open,
.headerpage-profile-dropdown-menu.headerpage-open {
  max-height: 200px; /* 실제 높이보다 충분히 큰 값 */
  opacity: 1;
}

.headerpage-dropdown-menu ul,
.headerpage-profile-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerpage-dropdown-menu li,
.headerpage-profile-dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.headerpage-dropdown-menu li:hover,
.headerpage-profile-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* 페이지 컨텐츠의 맨 위에 패딩 추가 */
body {
  padding-top: 88px; /* 헤더의 높이와 동일하게 설정 */
}

/* 햄버거 버튼 아이콘 */
.headerpage-hamburger-icon {
  display: none;
  width: 70px;
  /* z-index: 1000; */
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  height: 50px;
}

.icon-1,
.icon-2,
.icon-3 {
  top: 43px;
  position: absolute;
  width: 35px;
  height: 2.5px;
  right: 11vw;
  background-color: black;
  transition: all 0.2s cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

/* 햄버거 버튼 전체 드롭다운 */
.headerpage-hamburger-dropdown {
  position: absolute;
  top: 100px;
  right: 9vw;
  visibility: hidden;
  display: flex;
  /* justify-content: center; */
  z-index: 1000;
}

.headerpage-hamburger-dropdown.hamburger-open {
  visibility: visible;
}

.headerpage-hamburger-dropdown ul,
.headerpage-profile-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 햄버거 세부 드롭다운 메뉴 스타일 */
.hamburger-dropdown-menu,
.hamburger-profile-dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 0px rgb(0, 0, 0);
  border: 1px solid black;
  color: black;
  overflow: hidden;
  text-align: left;
  line-height: 22px;
  z-index: 9999;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.hamburger-dropdown-menu.headerpage-open,
.hamburger-profile-dropdown-menu.headerpage-open {
  max-height: 200px; /* 실제 높이보다 충분히 큰 값 */
  opacity: 1;
}

.hamburger-dropdown-menu ul,
.hamburger-profile-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-dropdown-menu li,
.hamburger-profile-dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.hamburger-dropdown-menu li:hover,
.hamburger-profile-dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* 햄버거 드롭다운 검색버튼 */
.hamburger-search-container {
  position: relative;
}
.hamburger-search-icon {
  background-color: white;
  padding: 10px 9px 10px 11px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.hamburger-dropdown-search-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: -1px;
  right: 20px;
}

.hamburger-dropdown-search-container {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  box-sizing: border-box;
  padding: 15px 15px 15px 16px;
  outline: none;
  visibility: hidden;
}

.hamburger-dropdown-search-container .search-open {
  visibility: visible;
}
.hamburger-dropdown-search-container .hamburger-dropdown-search-icon {
  position: absolute;
  right: 13px;
}

/* 햄버거 만들기 드롭다운*/

.hamburger-dropdown-menu {
  top: 55px;
  right: 60px;
  margin-bottom: 5px;
}

.hamburger-create-icon {
  background-color: white;
  padding: 13px 16px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.hamburger-create-icon img {
  padding-top: 2px;
}

/* 햄버거 드롭다운 마이페이지 */
.hamburger-profile-container {
  margin-top: 4px;
  width: 29px;
  height: 29px;
  padding: 8px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer; /* 클릭 가능한 요소임을 나타냄 */
}

.hamburger-login-button {
  margin-top: 4px;
  background-color: white;
  padding: 15px 7px;
  border: 2px solid black;
  border-radius: 60px;
  cursor: pointer;
}

.hamburger-profile-dropdown-menu {
  top: 120px;
  right: 60px;
}

/* 미디어쿼리_ media query */

@media (min-width: 480px) and (max-width: 767px) {
  .headerpage-header-container {
    padding: 10px 2vw;
  }
  .headerpage-header-logo,
  .headerpage-hamburger-dropdown.hamburger-open {
    display: none;
  }
}
@media (max-width: 479px) {
  .headerpage-header-logo,
  .headerpage-header-right,
  .headerpage-dropdown-menu,
  .headerpage-profile-dropdown-menu {
    /*기존 요소 가리기*/
    display: none;
  }

  .headerpage-header-container {
    padding: 10px 2vw;
  }

  .headerpage-hamburger-icon {
    display: block;
  }
}
