/* 작성자 프로필 */
.ProjectDetailPage_profile_wrap {
  display: flex;
  justify-content: center;
}

.ProjectDetailPage_profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

/* 작성자 프로필사진 */
.ProjectDetailPage_profile_img {
  width: 164px;
  height: 164px;
  border-radius: 100%;
  background-color: #ccc;
  border: 2px solid #000;
}

.ProjectDetailPage_profile_detail {
  text-align: center;
}

/* 작성자 닉네임 */
.ProjectDetailPage_profile_name {
  padding-top: 21px;
  font-weight: bold;
}

.ProjectDetailPage_profile_name span {
  font-size: 1.2rem;
}

/* 작성자 자기소개글 */
.ProjectDetailPage_profile_txt {
  padding-top: 11px;
}

.ProjectDetailPage_profile_txt span {
  font-size: 1.2rem;
}
