/* 개인정보 수집 동의 */
.ProjectDetailPage_agree_wrap {
  width: 100%;
  margin-top: 89px;
}

.ProjectDetailPage_agree_title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ProjectDetailPage_agree_title span {
  color: #ff8473;
}

.ProjectDetailPage_agree_content {
  margin-top: 18px;
  font-size: 0.8rem;
  color: #999999;
}

.ProjectDetailPage_agree_check {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ProjectDetailPage_agree_check div {
  padding-right: 5px;
}
